<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% comment %} <script src="https://docs.opencv.org/3.4/opencv.js"></script> {% endcomment %}
</head>
<body>
    <h3 id="label-username">username</h3>
    <div>
        <input id="username-input"><button id="btn-join">JoinRoom</button>
    </div>
    <div class="main-grid-container">
        <div id="video-container">
            <div><video id="local-video" style="float:left;" autoplay playsInline></video></div>
            <button id="btn-toggle-audio">Audio Mute</button>
            <button id="btn-toggle-video">video Off</button>
            <button id="preprocess">video Off</button>
        </div>

        <div id="chat">
            
            <h3>CHAT</h3>
            <div id="messages">
                <ul id="message-list"></ul>
            </div>
            
            <div>
                <input id="msg"><button id="btn-send-msg">Send Message</bur3tton>    
            </div>
            <button id="btn-share-screen">Share Screen</button>


        </div>

    </div>

    <script type="text/javascript" src="{% static 'js/main.js' %}">
        
    </script>

</body>
</html>